  .col_fourth {
    width: 25.5%;
	position: relative;
    display: inline;
    display: inline-block;
     
  }


  .wrapper {
    width: 45%;
	float: right;
    position: relative;
    background-color: #000000;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right:3% !important;
	border: solid;
	border-color: #ffffff !important;
	border-width: 4px !important;
  }
  .counter {
    background-color: #000000;
    padding: 10px 0;
    border-radius: 5px;
    margin-left: 5%;
  }
  .count-title {
    font-size: 25px;
    
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
	color: rgb(255, 255, 255);
	font-weight: 2000;
  }
  .inos{
	display: flex;
	flex-direction: row;
	padding-left: 40%;
	padding-top: 5%;
	padding-bottom: 5%;
  }
  .info{
	color: rgb(255, 2, 175);
	font-size: 20px;
	
}
.welcome-head{
	font-size: 80px;
	color: #ffab07;
	font-weight:700;
}
  .count-text {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
	color: #0ab291;
  }
  .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #ffffff;
	
  }


@media (max-width: 798px) {
    .wrapper {
    display: none;
  }
}
@media (max-width: 1080px) {
    .wrapper {
        width: 60%;
    }
}

/* ------------------bannar------------------------ */


 main {

	 overflow: hidden;
     height: -webkit-fill-available;
     background-color: #020303;
    
     margin-bottom: 2% !important;
	 /* background-image: linear-gradient(rgba(0, 103, 26, 0.5),rgba(18, 103, 1, 0.5)), url("../assets/img/banner_img.jpg"); */
	 
}
 a, button {
	 cursor: pointer;
	 border: none;
	 outline: none;
	 user-select: none;
	 background: none;
	 box-shadow: none;
	 text-decoration: none;
}
 img, video {
	 display: block;
	 max-width: 100%;
	 height: auto;
	 object-fit: cover;
     border-radius: 120px;
}
 .section {
	 margin-top:10%;
	 margin-bottom: 5%;
}
 .container { 
	 height: auto;
	 margin: 0 auto; 
}

 

 .paragraph {
	 font-family: inherit;
     font-size: 50px;
	 line-height: inherit;
	 max-width: 100%;
	 height: auto;
	 text-transform: unset;
	 color: rgb(210, 208, 208);
}
 .btn {
	 display: inline-block;
	 font-family: inherit;
	 font-size: 1.5rem;
	 font-weight: 500;
	 line-height: 2;
	 text-align: center;
	 vertical-align: middle;
	 white-space: nowrap;
	 user-select: none;
	 outline: none;
	 
	 border-radius: 0.25rem;
	 text-transform: unset;
	 transition: all 0.3s ease-in-out;
	 
}
 .btn-inline {
	 display: inline-flex;
	 align-items: center;
	 justify-content: center;
}
 .btn-darken {
	 
	 color: #fafafa;
	 background-color: #0ab291;
	 box-shadow: var(--shadow-medium);
	 border: solid !important;
	border-color: #0ab291 !important;
	border-width: 2px !important;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 0.75rem 2rem;
}
.btn-darken:hover{
	
	border: solid !important;
	border-color: #0ab291 !important;
	border-width: 3px !important;
	color: #fafafa;
	transform: rotate(5deg);
    transition: all 0.5s ease-in-out 0s;
}

 .banner-column {
	 position: relative;
	 display: grid;
	 align-items: center;
	 row-gap: 2.8rem;
}
 @media only screen and (min-width: 48rem) {
	 .banner-column {
		 grid-template-columns: repeat(2, minmax(0, 1fr));
		 justify-content: center;
	}
}
 @media only screen and (min-width: 64rem) {
	 .banner-column {
		 grid-template-columns: 1fr max-content;
		 column-gap: 4rem;
		 margin-top: 3rem;
	}
}
 .banner-image {
	 display: block;
	 max-width: 20rem;
	 height: auto;
	 margin-top: 2rem;
	 object-fit: cover;
	 justify-self: center;
	 order:1;
}
@media (max-width: 798px) {
    .banner-image{
        display: none;
    }
}

 @media only screen and (min-width: 64rem) {
	 .banner-image {
		 max-width: 25rem;
		 height: auto;
		 margin-right: 5rem;
	}
}
 .banner-inner {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 row-gap: 1.75rem;
}
 .banner-links {
	position: absolute;
	top: 10%;
	right: 1.5rem;
	display: grid;
	justify-items: center;
	row-gap: 0.5rem;
	opacity: 1 !important;
	visibility: visible !important;
}

@media (max-width: 798px) {
	 .banner-links {
		 opacity: 0 !important;
		 visibility: hidden;
	}
}
 .banner-links > * {
	 font-size: 1.8rem;
	 line-height: 1.25;
	 color: #fafafa;

}
 
.banner-fb{
	background-color: #ef09d8;
	color:white;
	padding:50%;
	margin-bottom: 100%;
	border-radius: 10%;
	font-weight: 1000;
	font-size:20px;
}
.banner-fb:hover{
	color:rgb(50, 50, 240);
}
.banner-ins{
	background-color: #ef09d8;
	color:white;
	padding:50%;
	margin-bottom: 100%;
	margin-top: 100%;
	border-radius: 10%;
	font-weight: 1000;
	font-size:20px;

}
.banner-ins:hover{
	color:rgb(234, 90, 114);
}
.banner-tw{
	background-color: #ef09d8;
	color:white;
	padding:50%;
	margin-top: 100%;
	border-radius: 10%;
	font-weight: 1000;
	font-size:20px;

}
.banner-tw:hover{
	color:rgb(27, 27, 213);
}

.banner-fb:hover,.banner-ins:hover,.banner-tw:hover{
	background-color:#0bd2aa;
	scale:120%;
}

 
.welcome-bt-pl{
	width: 50% !important;
	height: auto !important;
}
.video-play-button {
	position: relative;
	z-index: 99 !important;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	width: 16px;
	height: 22px;
	border-radius: 50%;
	padding: 9px 10px 9px 14px;
	margin-left: 5%;
  }
  @media (max-width: 798px) {
	.video-play-button {
		margin-left: 8%;

	}
  }
  .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	height: 40px;
	background: #ef09d8;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
  }
 
  .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 40px;
	height: 40px;
	background: #736e7200;
	border-radius: 50%;
	transition: all 200ms;
	border:1px solid;
	border-color: #ef09d8;
  }
  
  .video-play-button:hover:after {
	background-color: #ef09d8;
  }
  
  .video-play-button img {
	position: relative;
	z-index: 3;
	max-width: 100%;
	width: auto;
	height: auto;
  }
  
  .video-play-button span {
	position: absolute;
	z-index: 3;
	/* border-left: 16px solid #fff;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	margin: auto !important;
	width: 50%;	   */
	width: 0; 
  	height: 0; 
	top: 0;
	margin-left: -6px;
	margin-top: 3px;
  	border-top: 12px solid transparent;
  	border-bottom: 12px solid transparent;
  	border-left: 15px solid rgb(255, 255, 255);
  }
  
  @keyframes pulse-border {
	0% {
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  /* opacity: 1; */
	  background-color:#ef09d8 ;
	}
	100% {
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
	  /* opacity: 0; */
	  background-color: #00000000;
	}
  }
  
  
  
  .video-overlay {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0ab291;
	opacity: 0;
	transition: all ease 500ms;
  }
  
  .video-overlay.open {
	position: fixed;
	z-index: 1000;
	opacity: 1;
  }
  
  .video-overlay-close {
	position: absolute;
	z-index: 1000;
	top: 15px;
	right: 20px;
	font-size: 36px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 200ms;
  }
  
  .video-overlay-close:hover {
	color: #2278c9;
  }
  
  .video-overlay iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/* width: 90%; */
	/* height: auto; */
	box-shadow: 0 0 15px #2278c9;
  }



  @media (max-width: 798px) {
	.welcome-head {
		font-size:55px;
		text-align: center !important;
		color: #ffab07;
		font-weight:700;
	}
	.paragraph {
		font-size: 20px;
		max-width: 100%;
		height: auto;
		text-transform: unset;
		color: rgb(210, 208, 208);
   }
   .video-play-button {
	margin-left: 10%;
  }
  .banner-inner{
	margin-left: 10%;
  }
  .welcome-bt-pl{
	width: 100% !important;
}
  }
